body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #1e1e1e;
  flex-direction: column;
  color: white;
}

.buttonAndslide {
  display: flex;
  gap: 100px;
}

.slide {
  overflow: hidden;
  width: 500px;
  height: 500px;
  border-radius: 12px;
  display: flex;
  box-shadow: -2px 1px 20px 3px black;
}

img {
  width: 550px;
  height: 500px;
}

.buttonAndslide > button {
  height: 50px;
  width: 100px;
  justify-self: center;
  align-self: center;
  background-color: transparent;
  border: none;
}
